
/* 
    Created on : 25/05/2018, 15:24:58
    Author     : admin
*/

@media only screen and (min-width: 481px) and (max-width: 767px)  { 
    
/*CONFIGURAÇÃO PARA O CORPO PRINCIPAL*/
.principal{
    max-width: 1200px;
    margin-bottom: 20px;
}

/*CONFIGURAÇÃO PARA O TEXTO PRINCIPAL*/
.principal-texto{
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.principal-texto{
    font-family: 'Montserrat', sans-serif;
}

/*CONFIGURAÇÕES PARA TOPO E MENU*/
#menu-principal{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    float: right;
}

#logo{
    float: left;
}

#logo > a > img{
    margin-top: 25px;
    width: 340px;
}

#menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menu li{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline;
}

#menu li a{
    color: black;
    -webkit-transition:color 0.5s ease-out;
    -moz-transition:color 0.5s ease-out;
    -o-transition:color 0.5s ease-out;
    -ms-transition:color 0.5s ease-out;
    text-decoration: none;
}

#menu li a:hover{
    color: #A8CF45;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

/*CONFIGURAÇÕES DE CORROSSEL*/
.slider{
    height: 300px;
    margin-top: 20px;
    background-color: #adadad;
}

/*CONFIGURAÇOES DE CONTATO*/
#contato{
    height: 250px;
    background-image: url('../images/banners/img-small-contato.jpg');
    background-clip: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
}

#contato > div{
    padding-top: 50px;
}

input[type=button]{
    background-image: url('../images/button/img-button01.png');
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    width:220px;
    height:62px;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover{
    font-size: 20px;
}

#contato h1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
}

#contato > div > div{
    background-color: #ffffff;
    width: 250px;
    opacity: 0.7;
    border-radius: 10px;
    margin-bottom: 20px;
}



/*CONFIGURAÇOES PARA FAIXA DE DESTAQUE*/

.vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#faixa_destque{
    background-color: #A8CF45;
    height: 140px;
}

#faixa_destque > div{
    padding-top: 50px;
}

#faixa_destque h1{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


/*LOCALIZAÇÃO*/
.localiza > h1{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.localiza > iframe{
    width: 100%;
    height: 400px; 
    display: block;
    margin: auto;
}

/*RODAPÉ*/
.footer{
    height: 30px;
}

.footer > h5{
    float: left;
}

.footer img{
    float: right;
    width: 25px;
}

/*CONFIGURAÇÕES DA FAIXA DO RODAPÉ*/
.barra{
    height: 5px;
    background-color: #A8CF45;
}


/*CONFIGURAÇÕES PARA O TEXTO DA EMPREASA*/
.panel-empresa{
    height: 300px;
    margin-bottom: 50px;
}
.text-empresa{
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.text-title > div > h1{
    font-size: 33px;
}

/*CONFIGURAÇÕES PARA O TEXTO DE SERVIÇOS*/


.servico > div > h1,p{
    font-family: 'Montserrat', sans-serif;
}

.servico > div > p{
    font-size: 18px;
}

.servico > div > ul > li{
    font-size: 18px;
}

.servico img{
    max-width: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

/*CONFIGURAÇÕES PARA OS CAMPOS DO FORMULÁRIO*/

#check{
    font-family: 'Montserrat', sans-serif;
}


/*Marcação para nome*/
#form{
    margin-top: 23px;
}
#nome {
  padding-left: 30px;
  color: #adadad;
}

#nome-label {
  position: relative;
}

#nome-label input {
  width: 260px;
}

#nome-label:before {
  color: #A8CF45;
  content:"\f2c0";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Marcação para email*/
#email {
  padding-left: 30px;
  color: #adadad;
}

#email-label {
  position: relative;
}

#email-label input{
  width: 260px;
}

#email-label:before {
  color: #A8CF45;
  content:"\f003";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Marcação para celular*/
#tel_cel {
  padding-left: 30px;
  color: #adadad;
}

#celular-label {
  position: relative;
}

#celular-label input{
  width: 260px;
}

#celular-label:before {
  color: #A8CF45;
  content:"\f095";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Marcação para fixo*/
#tel_fixo {
  padding-left: 30px;
  color: #adadad;
}

#fixo-label {
  position: relative;
}
#fixo-label input{
  width: 260px;
}

#fixo-label:before {
  color: #A8CF45;
  content:"\f095";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Marcação para empresa*/
#empresa {
  padding-left: 30px;
  color: #adadad;
}

#empresa-label {
  position: relative;
}

#empresa-label input{
  width: 260px;
}

#empresa-label:before {
  color: #A8CF45;
  content:"\f275";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Marcação para mensagem*/
#messager {
  padding-left: 30px;
  color: #adadad;
}

#messager-label {
  position: relative;
}

#messager-label textarea{
  width: 260px;
  height: 150px;
}

#messager-label:before {
  color: #A8CF45;
  content:"\f044";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  left: 10px;
}

/*Cor e icone dos botoes*/
#enviar{
    font-family: FontAwesome;
    color: #A8CF45;
}

#limpar{
    font-family: FontAwesome;
    color: #A8CF45;
}

/*Configurações para imagens e textos do endereço*/
.texto-endereco > h3 > img{
    max-width: 50px;
}

.texto-endereco > h3{
    font-family: 'Montserrat', sans-serif;
}
.texto-endereco > h4{
    margin-left: 57px;
    font-family: 'Montserrat', sans-serif;
}

/*CONFIGURAÇÕES ICONES DE MISSAO E VALORES*/

/*AINDA SERÁ IMPLEMENTADO*/

/*CONFIGURAÇÕES PARA SETA DE NAVEGAÇÃO*/
.seta-up img{
    max-width: 5%;
    float: right;
}
.fixar-seta-up{/*Configuração para fixar o menu ao rolar a página*/
    margin-right: 155px;
    float: left;
    z-index: 9999;
    position: fixed; 
    bottom: 0;
    right: 0;
    width: 50px;
}

/*CONFIGURAÇÕES PARA O CARROSSEL*/
*{/*Zerando margens*/
	padding: 0;
	margin: 0;
}

#slider1 {
    width: 100%; /* important to be same as image width */
    height: 231px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
    padding-bottom:20px;
    margin:auto;
}

#slider1Content {
    width: 100%; /* important to be same as image width or wider */
    position: absolute;
    top: 0;
    background-color:#fff;
    margin-left: 0;
    
}
.slider1Image {
    float: none;
    position: relative;
    display: none;
    min-width: 100%;
    height: auto;
    display: block;
}
.slider1Image img{
    max-width: 100%;
    height: 300px;
    
}
.slider1Image span {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px 13px;
    width: 50px;
    height: 230px;
    background-color: #A8CF45;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    color: #fff;
    display: none;
    border-radius: 0px 15px 15px 0px;
}
.clear {
    clear: both;
}
.slider1Image span strong {
    font-size: 10px;
}
.left {
    top: 0;
    left: 0;
    width: 250px !important;
    height: 462px;
}
.right {
    right: 0;
    bottom: 0;
    width: 380px !important;
    height: 462px;
}
#slider1Content ul { 
    list-style-type: none;
}
#slider1Content li{
    list-style-type: none;
}

#slider1Content h2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 10px 0 10px;
}

#slider1Content p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px 0 10px;
}

#slider1Content button {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px 0 10px;
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

}/*#@media*/